              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#Oracle">
                      Oracle
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#hadoop">
                      Hadoop
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
